__pycache__/*
like/*
!like/.keepme
nope/*
!nope/.keepme
burned/*
!burned/.keepme
nope_swipe/*
!nope_swipe/.keepme
like_swipe/*
!like_swipe/.keepme
tmp/*
.vscode/
fb_config.py
*.pyc
insta_likes*
auth_token